*::-webkit-scrollbar {
    width: 0.875rem;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    border: 0.25rem solid transparent;
    background-clip: content-box;
    background-color: #bbbbbb;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 !important;
}

.font-estetik {
    font-family: 'Sacramento', cursive !important;
    color: #111111 !important;
}
h4 {
    color: #111111 !important;
}

.cropper {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.cropper>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.btn-music {
    position: fixed;
    bottom: 9vh;
    right: 2vh;
    z-index: 1055;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212529;
    z-index: 1055 !important;
}

.card-body {
    overflow-wrap: break-word !important;
}
.btn-outline-light:hover {
    color: #111111 !important;
}
.btn-outline-light{
    color: #111111 !important;
}
.btn-sm:hover {
    color: #111111 !important;
}

.top {

    background-image: url('../assets/images/top.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    max-width: 450px;
    width: 100%;
    height: calc(var(--vh,1vh) * 8);
    position: fixed;
    /* bottom: -62%; */
    top: 0;
    margin: auto;
    z-index: 1000;
    /* display: block; */
    
}


.bottom {

    background-image: url('../assets/images/bottom.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    max-width: 450px;
    width: 100%;
    height: calc(var(--vh,1vh) * 8);
    position: fixed;
    /* bottom: -62%; */
    bottom: 5%;
    z-index: 1000;
    margin: auto;
    /* display: block; */
    
}
.salin:disabled{
    background-color: darkgrey;
    color: white !important;
}
.salin:focus{
    background-color: darkgrey;
    color: white !important;
}

.salin:hover{
    background-color: darkgrey;
    color: white !important;
}